In [1]:
import pandas as pd
from config import username, password
import sqlalchemy as sa

In [2]:
#connected to base
engine = sa.create_engine(f'postgresql://({username}):{password}@localhost:5438/postgres')

In [3]:
#read farmers_markets csv 8804 rows × 59 columns
farmer_market = pd.read_csv('resources/farmers_markets_from_usda.csv')
farmer_market.head()

,FMID,MarketName,Website,Facebook,Twitter,Youtube,OtherMedia,street,city,County,...,Coffee,Beans,Fruits,Grains,Juices,Mushrooms,PetFood,Tofu,WildHarvested,updateTime
0,1018261,Caledonia Farmers Market Association - Danville,https://sites.google.com/site/caledoniafarmers...,https://www.facebook.com/Danville.VT.Farmers.M...,NaN,NaN,NaN,NaN,Danville,Caledonia,...,Y,Y,Y,N,N,Y,Y,N,N,6/20/2017 22:43
1,1018318,Stearns Homestead Farmers' Market,http://www.StearnsHomestead.com,StearnsHomesteadFarmersMarket,NaN,NaN,NaN,6975 Ridge Road,Parma,Cuyahoga,...,N,N,Y,N,N,N,N,N,N,6/21/2017 17:15
2,1009364,106 S. Main Street Farmers Market,http://thetownofsixmile.wordpress.com/,NaN,NaN,NaN,NaN,106 S. Main Street,Six Mile,Pickens,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
3,1010691,10th Steet Community Farmers Market,NaN,NaN,NaN,NaN,http://agrimissouri.com/mo-grown/grodetail.php...,10th Street and Poplar,Lamar,Barton,...,N,N,Y,N,N,N,N,N,N,10/28/2014 9:49
4,1002454,112st Madison Avenue,NaN,NaN,NaN,NaN,NaN,112th Madison Avenue,New York,New York,...,N,N,N,N,N,N,N,N,N,3/1/2012 10:38

In [4]:
#read svi_county .csv 3143 rows × 158 columns
svi_county = pd.read_csv('resources/SVI2020_US_COUNTY.csv')
svi_county

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,1,Alabama,AL,1001,Autauga,1001,"Autauga County, Alabama",594.455838,55639,0,...,1.2,0.3,0.3,0.2,0.0,0.1,2.0,0.7,0.2,0.3
1,1,Alabama,AL,1003,Baldwin,1003,"Baldwin County, Alabama",1589.835294,218289,0,...,0.9,0.2,0.6,0.2,0.0,0.1,1.9,0.4,0.3,0.2
2,1,Alabama,AL,1005,Barbour,1005,"Barbour County, Alabama",885.007618,25026,0,...,0.5,0.1,0.3,0.3,0.0,0.1,1.3,0.6,0.6,0.4
3,1,Alabama,AL,1007,Bibb,1007,"Bibb County, Alabama",622.469288,22374,0,...,0.3,0.4,0.1,0.1,0.0,0.2,0.4,0.3,0.0,0.2
4,1,Alabama,AL,1009,Blount,1009,"Blount County, Alabama",644.890375,57755,0,...,0.4,0.1,0.1,0.1,0.1,0.1,1.8,0.3,0.3,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56,Wyoming,WY,56037,Sweetwater,56037,"Sweetwater County, Wyoming",10426.975770,43352,0,...,0.7,0.3,1.0,0.4,0.0,0.1,2.2,0.8,0.2,0.3
3139,56,Wyoming,WY,56039,Teton,56039,"Teton County, Wyoming",3996.846846,23356,0,...,1.4,0.8,0.2,0.2,0.1,0.1,1.0,0.6,0.6,0.8
3140,56,Wyoming,WY,56041,Uinta,56041,"Uinta County, Wyoming",2081.719808,20374,0,...,0.2,0.2,0.5,0.3,0.0,0.2,2.2,0.4,0.0,0.2
3141,56,Wyoming,WY,56043,Washakie,56043,"Washakie County, Wyoming",2238.678265,7933,0,...,0.0,0.4,0.4,0.4,0.0,0.4,3.2,0.5,0.4,0.4
3142,56,Wyoming,WY,56045,Weston,56045,"Weston County, Wyoming",2398.003892,6942,0,...,1.6,1.6,0.6,1.0,1.7,2.0,2.9,1.9,0.0,0.5

In [5]:
#created svicounty_df  with selected column fields 3143 rows × 14 columns
svicounty_df = svi_county[['STATE','COUNTY','E_TOTPOP','E_POV150','M_POV150','E_UNEMP','M_UNEMP','E_HBURD','M_HBURD','E_NOHSDP','M_NOHSDP','E_UNINSUR','M_UNINSUR','E_MINRTY','M_MINRTY','EP_MINRTY','MP_MINRTY','EPL_MINRTY']]
svicounty_df.head()

,STATE,COUNTY,E_TOTPOP,E_POV150,M_POV150,E_UNEMP,M_UNEMP,E_HBURD,M_HBURD,E_NOHSDP,M_NOHSDP,E_UNINSUR,M_UNINSUR,E_MINRTY,M_MINRTY,EP_MINRTY,MP_MINRTY,EPL_MINRTY
0,Alabama,Autauga,55639,12611,1349,736,185,5029,576,4273,562,4345,725,14479,578,26.0,1.0,0.6337
1,Alabama,Baldwin,218289,36413,2802,4027,714,19350,1526,14823,1344,20501,1932,37334,1866,17.1,0.9,0.5022
2,Alabama,Barbour,25026,8965,673,649,182,2305,298,4497,387,2362,311,13694,271,54.7,1.1,0.8962
3,Alabama,Bibb,22374,5730,907,667,260,1580,319,3056,414,1878,387,5724,156,25.6,0.7,0.6292
4,Alabama,Blount,57755,13624,1151,1253,301,4060,431,6838,499,5746,695,7690,344,13.3,0.6,0.4147

In [6]:
#created farmer_market_df  with selected column fields 8804 rows × 10 columns
farmer_market_df = farmer_market[['FMID','MarketName','street','city','County','State','zip','x','y']]
farmer_market_df.head()

,FMID,MarketName,street,city,County,State,zip,x,y
0,1018261,Caledonia Farmers Market Association - Danville,NaN,Danville,Caledonia,Vermont,5828,-72.140335,44.411037
1,1018318,Stearns Homestead Farmers' Market,6975 Ridge Road,Parma,Cuyahoga,Ohio,NaN,-81.733940,41.374802
2,1009364,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199
3,1010691,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628
4,1002454,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900

In [7]:
#remove any null values
clean_farm_market=farmer_market_df.dropna()
clean_farm_market

,FMID,MarketName,street,city,County,State,zip,x,y
2,1009364,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199
3,1010691,10th Steet Community Farmers Market,10th Street and Poplar,Lamar,Barton,Missouri,64759,-94.274620,37.495628
4,1002454,112st Madison Avenue,112th Madison Avenue,New York,New York,New York,10029,-73.949303,40.793900
5,1011100,12 South Farmers Market,3000 Granny White Pike,Nashville,Davidson,Tennessee,37204,-86.790710,36.118370
6,1009845,125th Street Fresh Connect Farmers' Market,"163 West 125th Street and Adam Clayton Powell,...",New York,New York,New York,10027,-73.948250,40.808952
...,...,...,...,...,...,...,...,...,...
8797,1019792,Zelienople-Harmony Farmer's Market,Beaver Street and South Division Street,Zelienople,Butler,Pennsylvania,16063,-80.130180,40.792698
8798,1007097,Zerns Farmers Market and Auction,1100 E. Philadelphia Ave,Gilbertsville,Montgomery,Pennsylvania,19525,-75.618401,40.321602
8801,1012380,Zion Canyon Farmers Market,1212 Zion Park Blvd.,Springdale,Washington,Utah,84767,-113.004940,37.181499
8802,1004686,Zionsville Farmers Market,Hawthorne & Main Street,Zionsville,Boone,Indiana,46077,-86.261200,39.949100
8803,1011418,Zona Rosa Farmers' Market,Off of I-29 and Barry Road,Kansas City,Platte,Missouri,64153,-94.580864,39.246319

In [8]:
#remove any null values
clean_svicounty_df=svicounty_df.dropna()
clean_svicounty_df

,STATE,COUNTY,E_TOTPOP,E_POV150,M_POV150,E_UNEMP,M_UNEMP,E_HBURD,M_HBURD,E_NOHSDP,M_NOHSDP,E_UNINSUR,M_UNINSUR,E_MINRTY,M_MINRTY,EP_MINRTY,MP_MINRTY,EPL_MINRTY
0,Alabama,Autauga,55639,12611,1349,736,185,5029,576,4273,562,4345,725,14479,578,26.0,1.0,0.6337
1,Alabama,Baldwin,218289,36413,2802,4027,714,19350,1526,14823,1344,20501,1932,37334,1866,17.1,0.9,0.5022
2,Alabama,Barbour,25026,8965,673,649,182,2305,298,4497,387,2362,311,13694,271,54.7,1.1,0.8962
3,Alabama,Bibb,22374,5730,907,667,260,1580,319,3056,414,1878,387,5724,156,25.6,0.7,0.6292
4,Alabama,Blount,57755,13624,1151,1253,301,4060,431,6838,499,5746,695,7690,344,13.3,0.6,0.4147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Wyoming,Sweetwater,43352,7713,1048,1437,348,2718,406,2098,396,5079,712,9205,604,21.2,1.4,0.5672
3139,Wyoming,Teton,23356,2779,765,280,173,2057,415,945,399,2666,692,4387,324,18.8,1.4,0.5331
3140,Wyoming,Uinta,20374,3673,688,453,200,995,240,903,191,2273,518,2581,145,12.7,0.7,0.4007
3141,Wyoming,Washakie,7933,1484,348,170,76,577,156,441,134,950,243,1446,64,18.2,0.8,0.5210
3142,Wyoming,Weston,6942,1316,356,118,77,522,147,329,116,781,257,649,246,9.3,3.5,0.3001

In [17]:
clean_farm_market.loc[(clean_farm_market['County'] == 'Northhampton') & (clean_farm_market['State'] == 'Pennsylvania'), 'County'] = 'Northampton'
clean_farm_market.loc[(clean_farm_market['County'] == 'Placer') & (clean_farm_market['State'] == 'Indiana'), 'County'] = 'Dekalb'
clean_farm_market.loc[(clean_farm_market['County'] == 'Shasta') & (clean_farm_market['State'] == 'Arkansas'), 'County'] = 'Benton'
clean_farm_market.loc[(clean_farm_market['County'] == 'Anderoscoggin') & (clean_farm_market['State'] == 'Maine'), 'County'] = 'Androscoggin'

In [18]:
clean_svicounty_df['county_lower']=clean_svicounty_df['COUNTY'].str.lower()
clean_farm_market['county_lower']=clean_farm_market['County'].str.lower()

In [19]:
#created clean_svicounty_dff and created merge
clean_svicounty_dff = pd.merge(clean_farm_market, clean_svicounty_df, how="outer", right_on=['county_lower','STATE'], left_on=['county_lower','State'])
clean_svicounty_dff

,FMID,MarketName,street,city,County,State,zip,x,y,county_lower,...,M_HBURD,E_NOHSDP,M_NOHSDP,E_UNINSUR,M_UNINSUR,E_MINRTY,M_MINRTY,EP_MINRTY,MP_MINRTY,EPL_MINRTY
0,1009364.0,106 S. Main Street Farmers Market,106 S. Main Street,Six Mile,Pickens,South Carolina,29682,-82.818703,34.804199,pickens,...,951.0,10971.0,1004.0,10712.0,1080.0,18261.0,458.0,14.6,0.4,0.4459
1,1009428.0,Clemson Area Food Exchange (CAFE),212 Butler St,Clemson,Pickens,South Carolina,29631,-82.822899,34.686100,pickens,...,951.0,10971.0,1004.0,10712.0,1080.0,18261.0,458.0,14.6,0.4,0.4459
2,1006806.0,Clemson Farm-Fresh Market,Intersection of Fort Hill Street and Calhoun D...,Clemson,Pickens,South Carolina,29634,-82.837891,34.679241,pickens,...,951.0,10971.0,1004.0,10712.0,1080.0,18261.0,458.0,14.6,0.4,0.4459
3,1002596.0,Clemson Farmers' Market,578 Issaqueena Trail,Clemson,Pickens,South Carolina,29631,-82.787003,34.684399,pickens,...,951.0,10971.0,1004.0,10712.0,1080.0,18261.0,458.0,14.6,0.4,0.4459
4,1004475.0,Easley Farmers Market,205 N. 1st St,Easley,Pickens,South Carolina,29640,-82.605003,34.830299,pickens,...,951.0,10971.0,1004.0,10712.0,1080.0,18261.0,458.0,14.6,0.4,0.4459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,menominee,...,77.0,216.0,70.0,1156.0,255.0,4130.0,3570.0,90.5,78.2,0.9946
8666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,oconto,...,258.0,2409.0,231.0,1505.0,160.0,2076.0,418.0,5.5,1.1,0.1181
8667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,pepin,...,86.0,484.0,69.0,583.0,151.0,278.0,40.0,3.8,0.6,0.0344
8668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,waushara,...,158.0,2146.0,187.0,1763.0,251.0,2633.0,153.0,10.9,0.6,0.3523
8669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,crook,...,105.0,357.0,146.0,615.0,205.0,448.0,121.0,6.0,1.6,0.1515

In [20]:
clean_svicounty_dff = clean_svicounty_dff.rename(columns={
    'street':'street_farm',
    'city':'city_farm',
    'County':'county_farm',
    'State':'state_farm',
    'zip':'zip_farm',
    'x':'x_farm',
    'y':'y_farm',
    'COUNTY':'county_svi',
    'STATE':'state_svi'
})

# for error checking - delete before final push
farm_nan_df = clean_svicounty_dff.loc[(clean_svicounty_dff['county_svi'].isnull())]
farm_nan_df = farm_nan_df[['county_farm','state_farm','county_svi','state_svi','county_lower']]
farm_nan_df

        county_farm   state_farm county_svi state_svi   county_lower
3798        Hampton     Virginia        NaN       NaN        hampton
3799        Hampton     Virginia        NaN       NaN        hampton
3807    Buena Vista     Virginia        NaN       NaN    buena vista
4348  San Sebastian  Puerto Rico        NaN       NaN  san sebastian
4349   Newport News     Virginia        NaN       NaN   newport news
...             ...          ...        ...       ...            ...
7556       La Salle    Louisiana        NaN       NaN       la salle
7559   St. Anislaus   California        NaN       NaN   st. anislaus
7560   St. Anislaus   California        NaN       NaN   st. anislaus
7654   Williamsburg     Virginia        NaN       NaN   williamsburg
7655   Williamsburg     Virginia        NaN       NaN   williamsburg

[82 rows x 5 columns]

In [ ]:
final_svicounty_dff = clean_svicounty_dff.drop(columns=['county_lower'])
final_svicounty_dff

In [ ]:
final_svicounty_dff.to_csv('resources/farmers_market_svi.csv')